body {

}
html {
  background-color: none;
}
audio {
  width: 50%;
  height: 20px;
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}

.super {
  display: flex;
  justify-content: center;
}
.containerproduct {
  margin-top: 50px;
  display: flex;
  width: 75%;
  justify-content: center;

}
.containerproduct img {
  align-content: left;

}
.containerproduct Card {
  width: 75%;

}
h2 {
  font-size: 24px;
font-weight: 300;
}
h3 {
  font-size: 24px;
font-weight: 300;
}
.cardtitle{
  font-size: 24px;
  text-transform: none;
  margin: 0px 0px 0px 0px;
  font-weight: 400;
  color: #000000;
}
.content {
  display: block;
  width: 50%;
  justify-self: left;
}
.space {
  height: 50px;
}
.body {
  margin-top: 50px;
  margin-right: 50px;
}
.cardmargin {
  display: flex;
  margin-top: 50px;
  width: 70%;
  padding-bottom: 50px;
  height: auto;
  box-shadow: 2px 2px 5px;
  background-color: white;
  border-radius: 1%;
}
.enlinea {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.enlinea p {
margin-top: 20px;
}
.enlinea Button {
  margin-top: 10px;
height: 40px;
}
.shadow {
  box-shadow: 2px 2px 5px;
  border-radius: 3%;
  margin-top: 20px;
}
.titleproduct {
  font-size: 64px;
  margin-left: 10px;
  margin-right: 10px;
}
 .back {
  height:20px;
  margin-left: 20px;

}
