body {

}
html {
  background-color: none;
}
audio {
  width: 50%;
  height: 20px;
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}

.super {
  display: flex;
  justify-content: center;
  padding: 25px;
}


h2 {
  font-size: 24px;
font-weight: 300;
}
h3 {
  font-size: 24px;
font-weight: 300;
}
.cardtitle{
  font-size: 24px;
  text-transform: none;
  margin: 0px 0px 0px 0px;
  font-weight: 400;
  color: #000000;
}



.cardmargin {
  display: flex;

  padding: 30px;
  height: auto;
  box-shadow: 2px 2px 5px;
  background-color: #ebebeb;
  border-radius: 1%;
  justify-content: center;
}


.shadow {
  box-shadow: 2px 2px 5px;
  border-radius: 3%;
}
.titleproduct {
  font-size: 64px;
  width:auto;

}
 .back {
  height:20px;
  margin-left: 20px;

}
.padding {
  padding: 20px;
}
