.boxstyle {
  background-color: #ebebeb;
   border-radius: 5px;
   padding: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   height: 400px;
}
.contactwrap {
  height: 700px;
  width:75%;
display: flex;
justify-content: center;
margin-top:25px;
}
